@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
.body {
    height: 10vh;
    background-color: green;
    display: flex;
    flex-direction: row;
}

button {
    width: 25vw;
    color: white;
    font-size: 2em;
    font-family: 'Noto Sans HK', sans-serif;
}

.buttonGarcons {
    background-color: rgb(26, 129, 247);
    border-color: rgb(26, 129, 247);
}

.buttonFilles {
    background-color: rgb(255, 0, 221);
    border-color: rgb(255, 0, 221);
}

.buttonJungle {
    background-color: rgb(0, 187, 9);
    border-color: rgb(0, 187, 9);
}

.buttonDesert {
    background-color: rgb(255, 238, 1);
    border-color: rgb(255, 238, 1);
}